
<h1 style="position:relative; bottom:50px">About</h1>
<p style ="position:relative; bottom:60px">
      88% of businesses that have loyalty programs are more profitable than competitors who do not. Yet, only 30% of current restaurant operators offer loyalty or frequent-diner programs. FoodFeed is a new solution is to solicit customer loyalty in the most convenient way possible for both customers and restaurants: SMS.
</p>
<p>
	Please keep an eye out for launch in Spring 2014.
</p>