<% provide(:title, 'Contact') %>
<h1 style="position:relative;bottom:50px">Contact</h1>
<p style="position:relative;bottom:60px">
  Please 

<a href="mailto:schmatt@wharton.upenn.edu" target="_top">
email me</a>
  for more information.
</p>

